body
{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
/* Header */
.header
{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 50%);
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}

.header_container
{
    margin: 0;
}

.header_title
{
    font-family: "Shrikhand", sans-serif;
    height: 50px;
    margin: 0;
}

.header__arrow
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    left: 32px;
    height: 32px;
    width: 32px;
    font-size: 19px;
    top: 55%;
    transform: translateY(-50%);
}

/* Image */
.picture
{
    width: 100%;
    max-width: 100%;
    max-height: 500px;
    position: relative; 
    object-fit: cover;   
}

/* Menu */
.container_menu
{
    margin-top: -60px;
    border-radius: 32px 32px 0 0;
    background-color: #F6F6F6;
    width: 100%;
    position: relative;
}

.header_menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px 0 16px;
}

.title_menu
{
    font-family: "Shrikhand", sans-serif;
}

.restaurant_menus
{
    display: grid;
    overflow: hidden;
}

.heart
{
    width: 35px;
    height: 30px;
    position: relative;
    float: right;
    cursor: pointer;
}

.heart-border
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    transition-duration: 0.35s;
}

.fa-gradient
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: 0.35s;
    background: -webkit-linear-gradient( #FF79DA, #9356DC );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.heart:hover > .heart-border
{
    opacity: 0;
}

.heart:hover > .fa-gradient
{
    opacity: 1;
}


/* Entrée */
.restaurant_menu
{
    max-width: 100%;
    padding: 0 16px;
}

.restaurant_menu_title
{
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
    font-weight: 400;
}

.restaurant_menu_title::after
{
    background-color: #99e2d0;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
}

.restaurant_menu1
{
    display: flex;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgb(0 0 0 / 10%);
    background-color: #fff;
    margin: 16px 0;
    padding: 16px;
    overflow: hidden;
    cursor: pointer;
    animation: Apparition .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    position: relative;
}

.restaurant_menu1:hover > .restaurant_menu_header
{
    width: calc(100% - 120px);
}

@keyframes Apparition
{
    0%
    {
        transform:scale(0)
    }
    to
    {
        transform:scale(1)
    }
}


.delay-0
{
    animation-delay: 0s;
}

.delay-1
{
    animation-delay: .1s;
}

.delay-2
{
    animation-delay: .2s;
}

.delay-3
{
    animation-delay: .3s;
}

.delay-4
{
    animation-delay: .4s;
}

.delay-5
{
    animation-delay: .5s;
}

.delay-6
{
    animation-delay: .6s;
}

.delay-7
{
    animation-delay: .7s;
}

.delay-8
{
    animation-delay: .8s;
}

.restaurant_menu_header
{
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 50px);
    transition: 0.5s;  
}



.restaurant_menu_title2
{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurant_menu_text
{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurant_menu_price
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 600;
    padding-left: 8px;
    width: 50px;
}

.restaurant_menu_validation
{
  height: 100%;
  width: 70px;
  background-color: #99e2d0;
  position: absolute;
  right: -70px;
  top: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant_menu1:hover > .restaurant_menu_validation
{
  right: 0px;
}

.restaurant_menu_icon
{
  background-color: #fff;
  transition: 0.5s;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon 
{
    color: #99e2d0;
}

.restaurant_menu1:hover > .restaurant_menu_validation > .restaurant_menu_icon
{
  transform: rotate(360deg);
}


/* Bouton commander */

.bottom
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 40px 0;
}

.bottom-cmd
{
    border: 0;
    border-radius: 100px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
    font-size: 18px;
    color: #fff;
    background-color: grey;
    background: -webkit-linear-gradient( #FF79DA, #9356DC );
    transition-duration: 0.25s;
    cursor: pointer;
    padding: 12px 24px;
}

.bottom-cmd:hover
{
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50);
}

/* Footer */

.footer
{
    background-color: #353535;
}

.footer_contener
{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.footer_title
{
    color: #FFF;
    font-family: "Shrikhand", sans-serif;
    font-size: 19px;
    margin: 0 0 16px;
}

.footer_list
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_list_e-first
{
    margin-top: 0;
    margin-bottom: 8px;
}

.footer_list_e
{
    margin: 8px 0;
}

.footer_link
{
    color: #FFF;
    text-decoration: none;
}

.footer_icon
{
    width: 19px;
    margin-right: 8px;
}
.footer_text
{
    margin: 0;
}

@media screen and (min-width: 1200px ) 
{

    .picture
    {
        max-height: 400px;
    }

    .container_menu 
    {
        width: 1230px;
        margin: 0px auto;
        margin-top: -60px;
    }

    .restaurant_menu
    {
        width: 100%;
    }

    .restaurant_menus
    {
        display: flex;
    }

    .footer_contener
    {
        width: 1230px;
        margin: 0px auto;
        padding: 16px 0px;
    }
}